@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

// MEDIA QUERY MANAGER
/*
0 - 600px:        Phone
600 - 900px:      Tablet portrait
900 - 1200px:     Tablet landscape

1800 - Infinity:  Big desktop

Breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/


@mixin respond($breakpoint) {
  @if $breakpoint ==  phone {
    @media (max-width: 37.5em) { @content };
  }
  @if $breakpoint ==  tab-port {
    @media (max-width: 56.25em) { @content };
  }
  @if $breakpoint ==  tab-land {
    @media (max-width: 75em) { @content };
  }
  @if $breakpoint == mid-desktop {
    @media (min-width: 84.3em) { @content };
  }
  @if $breakpoint ==  big-desktop {
    @media (min-width: 112.5em) { @content };
  }
}

// News card coloring second and third card

@mixin coloredNews {
  .news-card {
    &:nth-of-type(3n-1) {
      border-bottom-color: $color-primary-light;

      .heading-quartiary,
      .news-card__footer.lead-text--secondary {
        color: $color-primary-light;
      }
    }

    &:nth-of-type(3n) {
      border-bottom-color: $color-purple;

      .heading-quartiary,
      .news-card__footer.lead-text--secondary {
        color: $color-purple;
      }
    }
  }
}