.main-noticias {
  padding: 10rem 0 8rem 0;

  background-image: url(../img/backgrounds/bg-9.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 30%;
}

.noticias-more {
  padding: 10rem 0;

  background-image: url(../img/backgrounds/bg-10.svg);
  background-size: cover;
  background-repeat: no-repeat;
}