.btn {

  &,
  &:link,
  &:visited {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    padding: .6rem 1.5rem;
    cursor: pointer;

    border: 1px solid;
    border-radius: 3px;
    border-color: currentColor;

    transition: all .2s;

    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 .5rem 2rem rgba($color-black, .2)
    }

    &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .25rem 1rem rgba($color-black, .2);
    }
  }

  &--primary-outline {
    background-color: transparent;
    color: $color-primary;

    &:hover {
      background-color: $color-primary;
      color: $color-white;
    }
  }

  &--primary-light-outline {
    background-color: transparent;
    color: $color-primary-light;

    &:hover {
      background-color: $color-primary-light;
      color: $color-white;
    }
  }

  &--green-outline {
    background-color: transparent;
    color: $color-green;

    &:hover {
      background-color: $color-green;
      color: $color-white;
    }
  }

  &--orange-outline {
    background-color: transparent;
    color: $color-orange;

    &:hover {
      background-color: $color-orange;
      color: $color-white;
    }
  }

  &--purple-outline {
    background-color: transparent;
    color: $color-purple;

    &:hover {
      background-color: $color-purple;
      color: $color-white;
    }
  }

  &--blue-sea-outline {
    background-color: transparent;
    color: $color-blue-sea;

    &:hover {
      background-color: $color-blue-sea;
      color: $color-white;
    }
  }
}

.btn-simple {
  display: inline-block;
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  padding: 0;
} 