.events {
  width: 100%;
  background-color: rgba($color-white, .97);
  box-shadow: 0 2rem 4rem rgba($color-black, .2);
  border-radius: 3px;
  overflow: hidden;
  display: table;

  @include respond(tab-land) {
    padding: 0 4rem;
  }

  &>* {
    background-color: transparent;
  }

  &__left {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding-left: 10rem;

    @include respond(tab-land) {
      padding: 2rem;
    }

    @include respond(tab-port) {
      display: none
    }
  }

  &__right {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    padding: 0 10rem;

    @include respond(tab-land) {
      padding: 2rem;
    }
    
  }
}