.news {

  &__header {
    h1 {
      padding: 0 4rem;
    }
  }

  &__content {
    text-align: center;
  }

  &__paragraph {
    margin-bottom: 2.5rem;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;

    &>* {
      margin-bottom: 2rem;
    }

    &__title {
      flex: 0 0 100%;
    }
  }

  &__btn {
    flex: 0 0 50%;

    &.btn:not(:last-child) {
      margin-right: .8rem;
      font-size: 1.3rem;
    }
  }

  &__date {
    flex: 0 0 50%;
    text-align: right;
    font-size: 1.2rem;
    color: $color-primary-light;
  }

  &__arrows {
    flex: 0 0 100%;
    display: flex;
    justify-content: space-between;
    
    text-decoration: none !important;
    color: $color-primary;
    cursor: pointer;
  }
}