.project-card {
  max-height: 17rem;
  padding: 3rem 4.5rem;
  position: relative;
  display: flex;
  flex-wrap: wrap;

  background-color: $color-blue-light-1;

  border-radius: 3px;
  border-bottom: 4px solid $color-orange;

  .heading-tertiary,
  .project-card__more-button {
    color: $color-orange;
  }

  transition: max-height .5s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tab-land) {
      max-height: 20rem;
    }

    @include respond(tab-port) {
      max-height: 29.5rem;
    }

  &--active {
    max-height: 1000rem;
  }

  &__container {

    .project-card {
      &:nth-of-type(4n-2) {
        border-bottom-color: $color-primary-light;

        .heading-tertiary,
        .project-card__more-button {
          color: $color-primary-light;
        }
      }

      &:nth-of-type(4n-1) {
        border-bottom-color: $color-purple;

        .heading-tertiary,
        .project-card__more-button {
          color: $color-purple;
        }
      }

      &:nth-of-type(4n) {
        border-bottom-color: $color-green;

        .heading-tertiary,
        .project-card__more-button {
          color: $color-green;
        }
      }
    }
  }

  &:not(:last-child) {
    margin-bottom: 2rem;
  }


  // HEAD
  &__head-left {
    flex: 0 0 50%;

    @include respond(tab-port) {
      flex: 0 0 100%;
    }
  }

  &__head-right {
    flex: 0 0 50%;    
    position: relative;
    text-align: right;

    @include respond(tab-port) {
      flex: 0 0 100%;
      text-align: left;
    }

    p span {
      opacity: 0;
      visibility: hidden;

      transition: all .4s;
    }
  }

  &__more-button {
    width: 10.5rem;
    position: absolute;
    bottom: 3rem;
    right: 4.5rem;
    text-transform: uppercase;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 700;
    z-index: 10;

    cursor: pointer;

    i {
      font-size: 1.6rem;
      position: relative;
      top: 1px;
      margin-left: 0.6rem;

      transition: top 0.2s;
    }

    &:hover i {
      top: 3px;
    }
  }

  &__checkbox {
    display: none;
  }

  // COLLAPSED
  &__content {
    opacity: 0;
    visibility: hidden;
    position: relative;
    min-width: 100%;
    max-height: 0px;
    margin-top: 1rem;
    padding-bottom: 10rem;

    * {
      max-height: 0;
      transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  // CHECKBOX HACK
  &__checkbox:checked ~ &__content {
    margin-top: 3rem;
    opacity: 1;
    max-height: 8000rem;
    visibility: visible;
    
    * {
      max-height: 800rem;
    }
  }

  &__checkbox:checked ~ &__more-button {
      bottom: 6rem;
      right: 50%;
      transform: translateX(50%);
      visibility: hidden;
    
    i:last-child {
      font-size: 3rem;
      display: block;
      transform: translateX(50%) rotate(180deg);
      visibility: visible;
      opacity: 1;

      &:hover {
        top: -4px;
      }
    }

  }

  &__checkbox:checked ~ &__head-right p span {
      opacity: 1;
      visibility: visible;
  }
}
