*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // Defines what 1rem is (10px)
  font-size: 62.5%;

  @include respond(tab-land) {
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(big-desktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding-top: 2rem;

  @include respond(tab-port) {
    padding-top: 0;
  }
}

// Setting up body colors
.body {
  &__downloads {
    background-color: $color-white;
  }

  &__publicacoes {
    background-color: $color-background-violet;
  }

  &__noticias {
    background-color: $color-white;
  }

  &__sobre {
    background-color: $color-background;
  }
}


// RESETING ICON CLASSES
.icon::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}